* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #eef1f8;
}

#wapper {
  display: flex;
  position: relative;
}

.sidebar {
  width: 260px;
  height: 100%;
  position: fixed;
  margin-left: 20px;
  margin-top: 24px;
}

.sidebar-content {
  border-radius: 15px;
  padding: 18px;
  background-color: #fff;
  height: 100%;
}

.logo img {
  height: 60px;
}

.sidebar .logo {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

.sidebar .logo span {
  font-weight: 400;
  margin: 0;
  line-height: 1;
  color: #131313;
  font-size: 1.44em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.account {
  margin-top: 16px;
}

.name {
  margin-left: 12px;
}

.account img {
  height: 50px;
  width: 50px;
  line-height: 50px;
  min-width: 50px;
  border-radius: 10px;
}

.group {
  display: flex;
  align-items: center;
}

.group input {
  padding: 7px 0 7px 42px;
  outline: none;
  border: none;
  background-color: #f3f6fd;
  border-radius: 6px;
  margin: 12px 0 26px;
}

.group i {
  position: absolute;
  padding: 10px;
  font-size: 14px;
}

.sidebar-nav {
  color: #848486;
  margin-bottom: 20px;
}

.sidebar-nav:last-child {
  margin-bottom: 0;
}

.sidebar-nav i {
  margin-right: 8px;
}

/* header */
.content {
  width: 100%;
  margin-left: 276px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  background-color: #fff;
  border-radius: 6px;
  padding: 6px 0;
}

.header-left .heading {
  margin: 0;
  font-size: 14px;
  padding: 20px;
  color: #848486;
}

.groupnew {
  display: inline-flex;
}

.groupnew>i {
  font-size: 14px;
  padding: 10px;
  margin-right: 4px;
}

.group-btn {
  background-color: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 26px;
}

.group-btn>i {
  padding: 10px;
  font-size: 14px;
  color: #fff;
}

.group-btn span {
  display: block;
  color: #fff;
  padding: 8px;
}

.header-right {
  background-color: #fff;
  display: flex;
  width: 12%;
  justify-content: space-between;
  padding: 19px;
  border-radius: 6px;
}

/* ================ */
.dropdown {
  position: relative;
  display: inline-block;
}

/* CSS cho nút drop-down khi được nhấp vào */
.dropdown:focus-within .dropdown-content {
  display: block;
}

/* CSS cho nội dung của nút drop-down */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* CSS cho các mục trong nút drop-down */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* CSS cho mục khi di chuột qua */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* =================== */
.header-right .email {
  background-color: #f3f6fd;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 10px;
  position: relative;
}

.header-right .bell {
  background-color: #f3f6fd;
  padding: 6px 12px;
  border-radius: 6px;
  position: relative;
}

.header-right.email::after,
.header-right.bell::after {
  content: "2";
  position: absolute;
  height: 16px;
  width: 16px;
  line-height: 16px;
  top: -10px;
  right: -2px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
}

/* content  */
.main {
  background-color: #fff;
  margin: 24px;
  min-height: 800px;
  border-radius: 10px;
  padding: 24px;
}

/* .main-content {
  padding: 24px;
}
.table {
  background-color: #fff;
  color: #fff;
  vertical-align: inherit;
}
tbody, td, tfoot, th, thead, tr {
  border: none;
}
.table-title {
  background-color: #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.table-infor {
  color: #000;
  min-height: 50vh;
}
.table-infor {
  border-bottom: 1px solid #1f1c2f66;
}
.table-infor:last-child {
  border: none;
}
.table-infor>td>i {
  margin-right: 10px;
}
.btn-edit {
  background-color: #8ac3a3;
}
.btn-delete {
  background-color: #f674ad;
}
.btn-edit:hover{
  opacity: 0.7;
  background-color: #8ac3a3;
}
.btn-delete:hover {
  background-color: #f674ad;
  opacity: 0.7;
} */

.main-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.main-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.list-item {
  display: flex;
  list-style: none;
  font-size: 16px;
  padding: 0;
}

.list-item li+li {
  margin-right: 20px;
}

.list-item li:first-child {
  margin-right: 20px;
}

.list-item li:hover {
  color: #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.action {
  border-bottom: 1px solid #000;
}

.main-right {
  background-color: #fff;
  display: flex;
  width: 9.5%;
  justify-content: space-between;
  border-radius: 6px;
}

.main-right .filter {
  background-color: #f3f6fd;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.main-right .large {
  background-color: #f3f6fd;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.main-info {
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}

.content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.left {
  font-size: 12px;
  padding: 8px 12px;
  color: #87baf5;
  border: 1px solid #87baf5;
  border-radius: 10px;
}

.left i {
  font-size: 18px;
}

.content-info {}

.content-info .heading {
  font-size: 20px;
  color: #131313;
  font-weight: 400;
}

.content-info .info {
  font-size: 14px;
  text-align: left;
  margin-bottom: 25px;
}

.content-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.content-footer .status,
.time {
  font-size: 14px;
}

.content-footer .status i,
.time i {
  color: #87baf5;
}

.divder {
  border-bottom: 3px solid #87baf5;
  border-radius: 6px;
  margin-bottom: 30px;
}

/* footer */

#footer {
  background-color: #fff;
  color: #768492;
  margin: 24px;
  border-radius: 10px;
}

.footer-content {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

/* start edit */
.edit_container {
  padding: 16px;
  text-align: center;
}


.edit {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  padding-top: 50px;

}


.edit-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 30%;
  border-radius: 7px;

}

.edit_clearfix {
  padding-left: 350px;
}